* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Content styles */
.content {
    padding: 20px;
}


ul {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #e5e5e5; */
    padding: 10px 120px;
    position: sticky;
    top: 0;
    z-index: 999;
}

li:hover {
    color: #d64949;
    cursor: pointer;
    transition: 0.5s;
}

ul {
    list-style: none;
}


.shopDiv {
    background-image: url('./images/love-at-first-sight-with-no-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 90vh;
    width: 100%;
    position: relative;
}

button {
    color: white;
    background: #DC1D48;
    border: none;
    padding: 5px;
    position: absolute;
    top: 64%;
    left: 74%;
    font-size: 24px;
    transform: translate(0, -50%);
    padding: 6px 15px;
    cursor: pointer;
}

button:hover {
    background: #d64949;
    transition: 0.5s;
}

.biscuitCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: #F6B99D;
    min-height: 1000px;
    height: auto;
    color: white;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-weight: 800;
    padding-top: 10px;
}

hr {
    border: 1px solid white;
}

#royalText {
    font-size: 42px;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: arial;
    padding-bottom: 10px;
    line-height: 48px;

}

.biscuitCategory {
    position: relative;
    top: 30%;
}

.cat-text {
    /* padding: 20px; */
    position: absolute;
    top: 10%;
    bottom: 10%;
    height: auto;
    text-transform: uppercase;
    /* padding: 20px; */
    text-align: center;

}

#feel-royalty-text {
    /* color: #8d401a; */
    font-size: 26px;
    font-family: Roboto;
    padding: 20px 20px;
    letter-spacing: 4px;
    line-height: 35px;
}

#explore-text {
    display: inline-block;
    padding: 0 35px;
    color: #8f0000;
    font-size: 20px;
    font-family: Champagne Limousines;
    text-transform: uppercase;
    line-height: 48px;
}


.biscuit-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    gap: 60px;


}

#part1 {
    top: 40%;
    padding: 10px 0px;
}

#part2 {
    top: 70%;
    padding: 10px 0px;
}

.block >p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px
}

.tehzeeb-meet {
    background-image: url('./images/time_greet_new_img-1-1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    height: 80vh;

}

.breadDiv {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5% 0px;
    height: 80vh;
    background-color: rgb(234, 187, 180);

}

.bread {}

#breadText {
    font-size: 42px;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: arial;
    line-height: 48px;
    color: #B96F50;
}

.text-container {
    text-align: center;
    gap: 40px;
    left: 20%;
    position: absolute;
}

#donut-container{
    left: 30%;
    top:20%
}

#samosa{
    left: 20%;
    top: 25%;

}

#pastry{
    left: 55%;
    top: 20%;

}

p{
    color: white;
    font-weight: 1000;
    padding: 30px 0;
    font-size: 26px;
    letter-spacing:2px;
}

.donuts {
    background-color: #F6B99D;
    min-height: 400px;
    position: relative;
    padding: 10px;

}

.donut {
    position: absolute;
    bottom: 0%;
}

.donut-right {
    position: absolute;
    right: 0%;
    top: 1%;
}

.donutText {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}


#donut-heading {
    
}

.snacks{
    background-color: #E8CBA9;
    min-height: 600px;
    position: relative;
    margin-top: 0.5%

}

.samosa{
    position: absolute;
    right:8%;
    top:10%;
}

.pastry{
    background-color:  rgb(234, 187, 180);
    min-height: 600px;
    position: relative;
    margin-top: 0.5%

}

.pastry-img{
    position: absolute;
    top: 8%;
    
}

.other{
    display: flex;
    flex-direction: row;
    /*  top left bottom right */
    
}
.nimco{
    width: 50%;
    position: relative;
    background-color: #E8CBA9;
    margin: 0.5% 0.5% 0.5% 0;
}

.nimco-img{
    position: absolute;
    left: 20%;
    top: 12%;
}




.puff{
    width: 50%;
    position: relative;
    background-color: #E8CBA9;
    margin: 0.5% 0.5% 0.5% 0;
}

.puff-img{
    position: absolute;
    left: 20%;
    top: 10%;
}

.salad-img{
    position: absolute;
    left: 20%;
    top: 12%;
}

.pizza-img{
    position: absolute;
    left: 20%;
    top: 12%;
}

.donut-container{
    left: 10%;
}

.salad{
    width: 50%;
    position: relative;
    background-color: #E8CBA9;
    margin: 0.5% 0.5% 0.5% 0;
}
.pizza{
    width: 50%;
    position: relative;
    background-color: #E8CBA9;
    margin: 0.5% 0.5% 0.5% 0;
}
.container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .section {
    flex: 1;
    padding: 20px;
    
    
    /* border: 1px solid #ccc; */
    height: 400px;
    position: relative;
  }

  .section:nth-child(odd){
    margin-top: 0.5%;
    margin-right: 0.25%;
    
    
  }
    .section:nth-child(even){
        margin-top: 0.5%;
        margin-left: 0.25%;
    }


  

  .footer-categories{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
  background-color: #F3F3F3;
  margin-top:1%;
  padding: 40px;
  }
  .footer-category{
    display: flex;
    flex-direction: column;
  }

  #pizza{
    background-color: rgb(241,161,128)
  }
  #nimko{
    
    background-color: rgb(241,161,128)
  }

  #puff{
    background-color: rgb(246,185,157)
  }
  #salad{
    background-color: rgb(246,185,157)
  }
/* .footer{
    background-color: #F6B99D;
    min-height: 200px;
    position: relative;
    margin-top: 0.5%
} */
ol{

}
ol > a {
    text-decoration: none;
    list-style: none;
    color:black;
    display: flex;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 14px;
    flex-direction: column;

    margin: 0;
    /* gap:6%; */
    cursor: pointer;
    text-align: left;
    line-height: 20px;

}


footer{
    background-color: white;
    min-height: 50px;
    position: relative;
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}